.modal-loading-bar{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -150px;
}
.modal-loading-bar .modal-content {
	width: 300px; 
	height: 60px; 
	direction:rtl;
}
.progress .progress-bar.six-sec-ease-in-out {	
	-webkit-transition: width 6s ease-in-out;
	-moz-transition: width 6s ease-in-out;
	-ms-transition: width 6s ease-in-out;
	-o-transition: width 6s ease-in-out;
	transition: width 6s ease-in-out;
}

hr.message-inner-separator
{
	clear: both;
	margin-top: 10px;
	margin-bottom: 13px;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.alert{
	margin:10px;
	font-family:IRANSans; 
	font-weight:bold; 
	font-size:11px;
	text-align:right;
	direction:rtl
}
h3,h4{ 
	font-family:IRANSans; 
	direction:rtl
}
button.btn{ 
	font-family:IRANSans; 
	font-weight:bold; 
	font-size:11px;
	margin-top:10px;
}
.btn-label {position: relative;right: -12px;display: inline-block;padding: 6px 8px 4px;background: rgba(0,0,0,0.15);}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

.flat .plan {
	width:300px;
	margin:20px auto;
	border-radius: 6px;
	list-style: none;
	padding: 0 0 20px;
	background: #fff;
	text-align: center;
}
.flat .plan li {
	padding: 10px 15px;
	color: #000;
	border-top: 0;
	-webkit-transition: 300ms;
	transition: 300ms;
}
.flat .plan li.plan-price {
	border-top: 0;
}
.flat .plan li.plan-name {
	border-radius: 6px 6px 0 0;
	padding: 15px;
	font-family:IRANSans; 
	font-size:16px;
	line-height: 28px;
	color: #fff;
	background: #468847;
	direction:rtl;
	margin-bottom: 0;
	border-top: 0;
}
.flat .plan li.plan-red {
	border-radius: 6px 6px 0 0;
	padding: 15px;
	font-family:IRANSans; 
	font-size:16px;
	line-height: 28px;
	color: #fff;
	background: #e74c3c;
	direction:rtl;
	margin-bottom: 0;
	border-top: 0;
}

.headlogo img{
	height: 120px;
}


@media (max-width: 767px) {
	.tabbable.custom-tabs>.nav-tabs>li>a{
		min-width:10px;
		padding:15px 10px 10px;
	}
	.tabbable.custom-tabs>.nav-tabs>li>a>span{
		display: none
	}
	.headlogo img{
		display: block; 
		max-width: 100%; 
		height: 60px;
	}	
}

.ipgheader{
	background-image: url(https://asan.shaparak.ir/img/topbarnew.jpg);
	background-position: 100% auto;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	padding-bottom: 7.5%;
}
input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus{
	border-color:#66afe9;
	-webkit-box-shadow:0 0 6px #66afe9;
	-moz-box-shadow:0 0 6px #66afe9;
	box-shadow:0 0 6px #66afe9;
	color:#000;
}
/*.modal-loading-bar{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -150px;	
}
*/
.BacktoMerchantSite{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -100px;
	width: 300px;
	height: 100px;
	padding: 32px 0 28px;	
	text-align: center; 
	line-height: 18pt; 
	font-size:12px; 
	word-spacing: -1px;
}		
.PasswordStyleInput {
	-webkit-text-security: disc;
}